body {
    height: 95vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(cluster-back.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: sans-serif;
}

.wrapper {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas:
        "head head"
        "side main"
        "side main";
    grid-template-columns: 25% 75%;
    grid-template-rows: 10% 90%;

    font-weight: 700;
}

aside {
    grid-area: side;
    border: 2px solid black;
    border-radius: 10px;
    background-color: darkgray;
}

main {
    height: 100%;
    width: 100%;
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainPlace {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    font-size: 20px;
    height:100%;
    
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.canvasContainer{
    height: 100%;
    width: 100%;
    text-align: center;
}

.myCanvas{

    background-color: darkgray;

}
