body{
    height: 95vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: deepskyblue;
    

    
}
.wrapper{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas:
                        "head head"
                        "side main"
                        "side main";
    grid-template-columns: 10% 90%;
    grid-template-rows: 5% 95%;


    align-content: center;
    font-family: sans-serif;
    
    font-size: 25px;
    font-weight: 700;
}
.wrapper header, aside{
    border: 2px solid black;
}
header{
    grid-area: head;
    
}

aside{
    grid-area: side;
    
}
main{
    height: 100%;
    width: 100%;
    grid-area: main;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-right: 1;
}

.mainPlace{
    height: 100%;
    width: 98%;
}

table{
    border: 2px solid black;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

table tr{
    visibility: hidden;
}

table td{
    border: 1px solid black;
    background-color:cadetblue;
}
