body {
    height: 99%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #81BECE;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.wrapper {
    display: grid;
    height: 97vh;
    width: 97vw;
    grid-template-areas:
        "head head"
        "side main"
        "side main";
    grid-template-columns: 25% 75%;
    grid-template-rows: 7% 93%;

    font-weight: 700;
    margin-left: 1%;
    margin-top: 0.5%;
}

.header {
    grid-area: head;
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 25%;
    height: 75%;
    text-align: center;
}


.header * {
    width: 30%;
    height: 100%;
    background-color: #036280;
    border-radius: 10px;
}

.form1 * {
    width: 100%;
    height: 100%;
    font-size: 14px;
    border: none;
    font-weight: 500;
    color: white;
    transition: font-size 0.2s ease;
}

.form1 {
    transition: scale 0.2s ease-in;
}

.form1:hover {
    scale: 1.2;
}

.form1 button:hover{
    font-size: 16px;
}

aside {
    grid-area: side;
    border-radius: 10px;
    background-color: #378BA4;
    font-size: 20px;
}

main {
    height: 100%;
    width: 100%;
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainPlace {
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    margin-top: 2%;
    font-size: 20px;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.menu button{
    transition: scale 0.2s ease;
}

.menu button:hover{
    scale: 1.05;
}

.clusterCounter {
    border-radius: 10px;
    padding: 1%;
    font-size: 20px;
    width: 45%;
    height: 15%;
    text-align: center;
}

.canvasContainer {
    height: 100%;
    width: 100%;
    display: flex;
    margin-left: 10%;
    align-items: center;
}

.myCanvas {
    border-radius: 10px;
    background-color: rgb(192, 214, 236);

}

.findClusters {
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    width: 45%;
    height: 18%;
}

.clearMap {
    font-weight: 600;
    font-size: 16px;
    margin-top: 1%;
    border-radius: 10px;
    width: 45%;
    height: 18%;
}