body {
    height: 95vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(cluster-back.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: sans-serif;
}

.wrapper {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas:
        "head head"
        "side main"
        "side main";
    grid-template-columns: 25% 75%;
    grid-template-rows: 7% 93%;

    font-weight: 700;
    margin-left: 1%;
    margin-top: 0.5%;
}
.header {
    grid-area: head;
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 25%;
    height: 75%;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}
.header *{
    width: 30%;
    height: 100%;
    font-size: 15px;
    font-weight: 600;
    background-color: darkgray;
    border: 2px solid black;
    border-radius: 8px;
}

.form1 *{
    width: 100%;
    height: 100%;
    font-size: 14px;
    border: none;
    font-weight: 600;
}
aside {
    grid-area: side;
    border: 2px solid black;
    border-radius: 10px;
    background-color: darkgray;
    font-size: 20px;
}

main {
    height: 100%;
    width: 100%;
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainPlace {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    margin-top: 2%;
    font-size: 20px;
    height:30%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.clusterCounter{
    border-radius: 10px;
    padding: 1%;
    font-size: 20px;
    width: 45%;
    height: 15%;
    text-align: center;
}
.canvasContainer{
    height: 100%;
    width: 100%;
    display: flex;
    margin-left: 10%;
    align-items: center;
}

.myCanvas{
    border: 2px solid black;
    border-radius: 10px;
    background-color: darkgray;

}

.findClusters{
    font-weight: 700;
    font-size: 16px;
    border-radius: 10px;
    width: 45%;
    height: 18%;
}
.clearMap{
    font-weight: 700;
    font-size: 16px;
    margin-top: 1%;
    border-radius: 10px;
    width: 45%;
    height: 18%;
}

